#card{
    align-items: center;
    border-radius: 12px;
    background-color: #1de592;
    height: 250px;
    width: 300px;
    margin:50px auto;
    padding: 30px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
p{
    font-size: 0.8rem;
}
#btn{
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    
}